html {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightblue;
}
#bigBox {
  width: 40%;
  height: 325.49px;
  background-color: coral;
  color: cornsilk;
  text-align: center;
  border-radius: 50px;
  border: solid 2pt cornsilk;
  padding: 0.5em;
}
#name {
  font-size: 40pt;
}
#year {
  font-style: italic;
}
